h1{
    padding-top: 90px;
    font-family: ZonaBlack;
    font-size: 80px;
    color: #7704ba;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}
.app {
    margin-top: -60px;
    height: 700px;
    width: 100vw;
    background-image: url("../../images/home-page-bg.jpg");
}